body {
    background-color: #2eb9bd;
}

.container {
    border-radius: 5px;
    width: 1500px;
}

.form {
    border-radius: 50px;
    display: inline-block;
    width: 350px;
}

.list {
    border-radius: 5px;
    display: inline-block;
    top: 10px;
    width: 350px;
    background-color: #e7eaea;
}

li {
    border-radius: 5px;
    padding: 5px;
    background-color: white;
    list-style-type:none
}

#card {
    border-radius: 5px;
    background-color: #e7eaea;

}
